body { background: #FAFAFA; color: #050505; line-height:1.4; }
div { max-width: 960px; margin: 0 auto; }
h1 { font-family: 'Open Sans', sans-serif; }
h1:before { content: '⬟ |'; font-size: 160%; }
p { font-family: 'Raleway', sans-serif; }
